
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479206434348'); /* IE9*/
  src: url('iconfont.eot?t=1479206434348#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479206434348') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479206434348') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479206434348#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taoxin:before { content: "\e621"; }

.icon-xinxi:before { content: "\e61d"; }

.icon-zhongbiao:before { content: "\e663"; }

.icon-gouwuche:before { content: "\e64f"; }

.icon-fankui:before { content: "\eb90"; }

.icon-touxiang-copy-copy-copy:before { content: "\e609"; }

.icon-jimi:before { content: "\e606"; }

.icon-tubiao_shang-32:before { content: "\e61a"; }

